/* Mobile Optimazation */
@media (max-width: 768px) {
  .project-card { 
    flex-direction: column;
  }

  .project-img-container img {
    width: auto;
    margin: 0 auto;
    max-width: 250px; 
  }

  .social-links a {
    margin-left: 8px !important;   
    padding: 6px 8px !important;   
    font-size: 0.9em;              
  }

  .project-info {
    text-align: center;        
  }

  .menu-text {
    display: none;
  }

  .studentImg { 
    flex-direction: column;
    display: flex;
    align-items: left;
    gap: 15px;
  }

  .education-section { 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .education-card { 
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .studentImg { 
    flex-direction: column;
    display: flex;
    align-items: left;
    gap: 15px;
  }

  .card-logo {
    width: 40px;
    height: 40px;
  }
  .card-header-text h3 {
    font-size: 1.2rem;
  }
  .card-header-text .card-dates {
    font-size: 0.85rem;
  }

  .project-img-container img {
    width: auto;
    margin: 0 auto;
    max-width: 250px; 
  }

  .dropdown {
    position: absolute; /** maybe change to fixed if buggy **/ 
    top: 30px;
    width: auto;
  }

  .social-links a {
    margin-top: 30px !important;
    margin-left: 10px !important;   
    padding: 5px 0px !important;   
    font-size: 0.9em;  /** might need to re-calculate the gap size here **/ 
  }

  .menu-text {
    display: none;
  }

  .dropdown-content {
    position: absolute;
    top: 40px; 
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .dropdown.active .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  #Tauha {
    font-size: 2rem; 
    margin-right: 15px; 
  }

  #student {
    font-size: 1rem;
    margin-right: 15px;
  }

  .education-section { 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .education-card { 
    width: 100%;
    max-width: 250px;
    margin: auto auto;
  }
}