nav {
  position: fixed;
  left: 25px;
  top: 0;
  width: 130px;
  height: 100vh;
  background-color: #000000;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.nav-links,
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 40px;
}

.nav-links li a,
.social-links li a {
  color: #00bcd4;
  text-shadow: 0 0 5px #00ffff;
  text-decoration: none;
  padding: 6px 0px;
  display: block;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.nav-links li a:hover,
.social-links li a:hover {
  color: #ffff00;
  background-color: #111111;
  padding: 6px 10px;
  border-radius: 5px;
  transform: scale(1.05);
}
 
.skill-nav {
  all: unset;
  position: fixed !important;
  right: 0 !important;
  top: 0;
  width: 335px;
  height: 100vh;
  background: 000000 !important;
  z-index: 10000;
}

.skill-nav li { 
  color: #00bcd4;
  text-decoration: none;
  padding: 0px 0px;
  display: block;
}

img {     
  width: auto;
  height: 60px;
  border-radius: 10%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageRow {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
}