html { 
    scroll-behavior: smooth;
}

body { 
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
}

header {
  color: #fff;
  text-align: justify;
  width: 100%;
  background: black;
  margin-left: 130px;
  font-size-adjust: calc(1);
  font-family:'Times New Roman', Times, serif;
}

h3 { 
  font-size-adjust: calc(00.75rem);
}

p { 
  font-size: 12px;
}
main {
  
}

section {
    font-size-adjust: calc(0.75);
    margin: 130px;
    background-color: black;
    border-radius: 5px;
    color: white;
}

footer {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 1rem;
    background-color: black;
    color: #fff;

    outline-color: white;
    outline-width: 1px;
    outline-style: groove;
}

.button {
  color: white;
  position: sticky;
  z-index: 10;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button-container {
  display:grid;
  flex-direction: column;
  gap: 0; /* Removes spacing */
  justify-content: left;
}

.button-container button {
  margin: 5px; 
  padding: 10px 20px;
  
  background-color: #384246; 
  color: white;
  border:#384246;
  border-radius: 100%;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button-container button:first-child {
  border-radius: 8px 0 0 8px;
}
.button-container button:last-child {
  border-radius: 0 8px 8px 0;
}
.button-container button:not(:first-child):not(:last-child) {
  border-radius: 0;
}


